:root {
    --header: goldenrod;
  }
  
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  html {
    font-family: 'Helvetica', sans-serif;
    background: #002244;
    line-height: 1.4;
  }
  
  header {
    font-size: 1.8rem;
    color: var(--header);
    text-align: center;
    padding: 10px 30px;
  }
  
  nav {
    display: block;
  }
  
  #navbar {
    position: fixed;
    min-width: 300px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: 1px solid black;
  }

  #navbar header,
  .main-section header {
    text-decoration: underline;
  }
  
  /* #navbar a {
    padding: 10px 30px;
  } */
  
  #navbar li {
    list-style-type: none;
    padding: 20px 15px;
    border-bottom: 1px solid;
    font-size: 1.2rem;
  }
  
  main {
    display: block;
  }
  
  #main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
  }
  
  ul {
    display: block;
    list-style-type: disc;
  }

  p {
    font-size: 1.1rem;  
  }
  
  p,
  li {
    color: linen;
  }

  li {
    margin-left: 50px;
  }

  code,
  .code-blue {
    color: blue;
    font-size: 1rem;
  }
  
  @media only screen and (max-width: 720px) {
    body {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  }